{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<style>
    .sittersform {
        border: solid black;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-top: 50px; 
        border-radius: 5px;
        padding: 25px 20px 15px 20px;
        width: 100%;
        max-width: 500px;
        background-color: lightblue;
    }
    h3 {
        margin-top: 50px;
        text-align: center;
    }
    .button {
        height: 40px;
        margin-top: 10px;
        grid-column: span 2;  /* Span both columns of the grid */
        width: 50%;           /* Take full width of the form */
        background-color: rgb(85, 201, 239);
    }
</style>

<h3>SITTER'S REGISTRATION FORM</h3>
<div class="container d-flex justify-content-center">
    <form action="" method="POST" class="sittersform">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="btn btn-outline-secondary button">Submit</button>
    </form>
</div>
<br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}
