{% extends 'base.html' %}

{% block content %}
<style>
  body{
    background-color: lightblue;
  }
</style>

<h2 style="text-align: center;">List of taken babies</h2>
<div class="container">
<table class="table table-striped" style="width: 90%; margin-left: 20px;" >
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Person taking the baby</th>
        <th scope="col">Telephone_no</th>
        <th scope="col">Timeout</th>
        <th scope="col">Babyno</th>
        <th scope="col">Comments</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
    
      <tr>
        <th scope="row">{{ baby_info.id}}</th>
        <td>{{ baby_info.baby_names }}</td>
        <td>{{ baby_info.person_taking_baby }}</td>
        <td>{{ baby_info.telephone_no}}</td>
        <td>{{ baby_info.timeout }}</td>
        <td>{{ baby_info.babyno }}</td>
        <td>{{ baby_info.comments }}</td>
        <td><a href="{% url 'bdepartureedit' id=baby_info.id %}" class="btn btn-outline-secondary" style=" background-color: rgb(85, 201, 239)">Edit Bdeparture</a></td>
        <a href="/bdeparture" class="btn btn-outline-secondary" style=" background-color: rgb(85, 201, 239)">Add Babies</a>
      </tr>
      
    </tbody>
  </table>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}