{% extends 'base.html' %}
{% block content %}
<style>
  h2 {
    text-align: center;
    color: black; 
  }
  body{
    background-color: lightblue;
  }
</style>
<h2>List of taken Babies</h2>
<a href="/bdeparture" class="btn btn-outline-secondary" style="margin-left: 100px;  background-color: rgb(85, 201, 239);">Add Baby</a>
<div class="container">
<table class="table table-striped" style="width: 90%; margin-left: 20px;" >
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">person_taking_baby</th>
        <th scope="col">Telephone_no</th>
        <th scope="col">Timeout</th>
        <th scope="col">Babyno</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        {% for baby in bdeparturelist %}
      <tr>
        <th scope="row">{{ baby.id }}</th>
        <td>{{ baby.baby_names }}</td>
        <td>{{ baby.person_taking_baby}}</td>
        <td>{{ baby.telephone_no }}</td>
        <td>{{ baby.timeout }}</td>
        <td>{{ baby.babyno }}</td>
        <td><a href="{% url 'bdepartureview' id=baby.id %}" class="btn btn-outline-secondary" style="background-color: rgb(85, 201, 239);">View</a></td>
      </tr>
      {% endfor %}
    </tbody>
    
  </table>
</div>
<br><br><br><br><br><br><br><br><br><br>
{% endblock %}