{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<style>
    h4 {
        text-shadow: 2px 2px 4px #000000;
        text-align: center; /* Centered the title */
        font-family: sans-serif;
        margin-top: 90px;
    }

    .sales-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        max-width: 50%; /* Set max-width to full for mobile responsiveness */
        margin: auto;
        border-radius: 10px;
        padding: 20px;
        background-color: white;
        margin-top: 52px;
        border: 5px solid rgba(0, 128, 255, 0.2);
        box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
        transition: border-color 0.3s, box-shadow 0.3s;
        margin-bottom: 50px;
    }

    label {
        font-weight: bold;
        margin-top: 7px;
        margin-bottom: 5px;
    }

    input[type="text"],
    input[type="number"],
    input[type="date"],
    select {
        border: 2px solid rgba(0, 128, 255, 0.2);
        box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
        transition: border-color 0.3s, box-shadow 0.3s;
        padding: 10px;
        border-radius: 5px;
        width: 50%; 
    }

    .container select[name="item"] {
        border: 2px solid rgba(0, 128, 255, 0.2);
        box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
        transition: border-color 0.3s, box-shadow 0.3s; 
    }

    .container {
        margin-top: 16px;
    }

    body {
        background-color: lightblue;
    }

    #item {
        border: 2px solid rgba(0, 128, 255, 0.2);
        box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
        transition: border-color 0.3s, box-shadow 0.3s;
    }

    /* Responsive Adjustments */
    @media (max-width: 768px) {
        .sales-form {
            grid-template-columns: 1fr; /* Stack form fields in one column on smaller screens */
            max-width: 50%; /* Full-width form on small screens */
        }

        h4 {
            font-size: 24px; /* Reduce the size of the heading for small screens */
        }

        button[type="submit"] {
            width: 50%; /* Make button full width on smaller screens */
        }
    }
</style>

<h4>ISSUE FORM</h4>
<hr>
<div class="back-container">
    <div class="container">
        <form method="POST" class="sales-form">
            {% csrf_token %}
            {{ sales_form | crispy }}
            <button type="submit" class="btn btn-outline-secondary" style="margin-top: 35px;margin-bottom: 35px; background-color: rgb(85, 201, 239);">ISSUE</button>
        </form>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
