{% extends 'base.html' %}

{% block content %}
<style>
    h2 {
        text-align: center;
        margin-top: 20px;
    }
    body {
        background-color: lightblue;
    }
    .btn-custom {
        margin-left: 20px; /* Use smaller left margin for better responsiveness */
        background-color: rgb(85, 201, 239);
    }
    .table-container {
        width: 100%;
        max-width: 90%; /* Limit table width to 90% of the container */
        margin: 0 auto; /* Center the table */
        overflow-x: auto; /* Allow horizontal scrolling on smaller screens */
    }
</style>

<h2>List Paid Sitters</h2>
<a href="/spayment" class="btn btn-outline-secondary btn-custom">Pay Sitter</a>

<div class="container table-container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Sitter Name</th>
                <th scope="col">Amount</th>
                <th scope="col">Date</th>
                <th scope="col">Number of Babies</th>
                <th scope="col">Total Amount Paid</th> 
            </tr>
        </thead>
        <tbody>
            {% for sitter in spaymentlist %}
            <tr>
                <th scope="row">{{ sitter.id }}</th>
                <td>{{ sitter.name }}</td>
                <td>{{ sitter.amount }}</td>
                <td>{{ sitter.date }}</td>
                <td>{{ sitter.numbers_of_babies_attended_to }}</td>
                <td>{{ sitter.total_amount_paid }}</td>
            </tr>  
            {% endfor %}
        </tbody>
    </table>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}
